<img src="/captcha/generate" id="captcha-img" catch="false"/><br/>
<!-- CHANGE TEXT LINK -->
<script language="javascript" type="text/javascript">
  function change_captcha()
  {
    document.getElementById('captcha-img').src='/captcha/generate?'+Math.random();
    var item = document.getElementById('captcha');
  
    if(item.value.length<3)
    {
      setTimeout(function() {
        item.focus()
      }, 10);
      return false;
    }
    return;
  }
</script>
<a href="#" onclick="change_captcha()" id="change-image">Not readable?! Change the shit!</a><br/>
<label for="captcha"/>Captcha shit: </label><br>
<input id="captcha" name="captcha" type="text" autocomplete="off" /><br/>
