<div>
  <p> <%=h User.find(comment.user_id).nickname %> said:</p>
  <comment>
    <%= h(comment.body).gsub("\n","<br>") %>
  </comment>
  <br>
  <info>up: <%= distance_of_time_in_words(Time.now, comment.created_at)%> ago </info>
  <hr>
</div>

