<% if @article then %>
    <div class="meta">
	  <span class="hit">HITS: <%= @article.hits.to_s %></span>
      <span class="leet">LEET: <%= @article.leet.to_s %></span>
      <span class="lame">LAME: <%= @article.lame.to_s %></span>
    </div>
    <br><br>
<% end %>
  
