<div id="main">
<h1>Tag: <%= @tag.name %></h1>
<%= render :partial => 'tags/pagebar' %>
<p>
  <%= render :partial => 'articles/list_articles' %>
</p>
<div class="cleaner"></div>
<%= render :partial => 'tags/pagebar' %>
</div>
