<div id="main">
  <h1>Bug Report</h1>
  <p>[CPD] is a FREE (as in freedom) project, licensed under GPLv3.<br>
    Cracking into a free/open source websites, is not 1337!<br><br>
    Send your bugs to <a href="https://github.com/null--/cyberpunkdiary/issues">[CPD] project on github</a>, If you found any! \m/
  </p>
</div>
