<div id="templatemo_main">
  <h1>[CPD] Development and API</h1>
  <p>[CPD] is a GLPv3 project.</p>
  <p>Browse <a href="https://github.com/null--/cyberpunkdiary">github repo.</a></p>
  <p>The CSS theme is developed by [cpd] crew for Ruby-on-Rails which is based on <a target="_parent" href="http://www.templatemo.com">Dark Pro Theme</a> </p>
</div>
