<div id="main">
  <h1>[CPD] Development and API</h1>
  <p>I suggest you read <a href="/mypages/whoami">About [CPD]</a> page first?!</p>
  <p>Browse <a href="https://github.com/null--/cyberpunkdiary">github repo.</a></p>
  <p>The CSS theme is developed by [cpd] crew and is based on <a target="_parent" href="http://www.templatemo.com">Dark Pro Theme</a> </p>
</div>
