<div id="templatemo_slider">
  <div style="width:940px; height:340px;" class="lof-slidecontent" id="lofslidecontent45">
	<div class="preload" style="display: none;"><div></div></div>
    <!-- MAIN CONTENT --> 
    <div style="width:940px; height:340px;" class="lof-main-outer">
  	  <ul class="lof-main-wapper" style="left: 0px; width: 7520px;">
  		<li>
          <%= image_tag ("images/slider/thumbl_980x340.png", :alt => "Slider 1", :title => "Newsflash 1") %>
          <div class="lof-main-item-desc">
            <h3><a href="#Category-1" title="Newsflash 1" target="_parent">/ Newsflash 1 /</a> <i> &mdash; Monday, February 25, 2048 18:25</i></h3>
            <h2>Template 2.5 version released</h2>
            <p>One thing about Web Design, it always changes! Template makes it easy to edit buttons, pages, contents, etc...
              <a href="#" class="readmore">Read more </a>
            </p>
          </div>
        </li> 
        <li>
       	  <%= image_tag ("images/slider/thumbl_980x340_002.png", :alt => "Slider 1", :title => "Newsflash 1") %>
          <div class="lof-main-item-desc">
            <h3><a href="#Category-2" title="Newsflash 2" target="_parent">/ Newsflash 2 /</a> 	<i> &mdash; Sunday, February 24, 2048 11:08</i></h3>
            <h2>Template Design packs updated</h2>
            <p>Template makes it easy to launch a Web site of any kind. Whether you want a brochure site or you are...
              <a href="#" class="readmore">Read more </a>
            </p>
          </div>
        </li> 
      </ul>  	
	</div>
	<!-- END MAIN CONTENT --> 
    <!-- NAVIGATOR -->
	<div class="lof-navigator-wapper">

      <div class="lof-next" onclick="return false">Next</div>
	  <div class="lof-navigator-outer" style="width: 320px; height: 32px;">
        <ul class="lof-navigator" style="width: 640px; left: 0px;">
          <li style="height: 32px; width: 80px;" class="active">
            <%= image_tag ("images/slider/thumbs/thumbl_980x340.png", :alt => "Image 01") %></li>
          <li style="height: 32px; width: 80px;" class=""><%= image_tag ("images/slider/thumbs/thumbl_980x340_002.png", :alt => "Image 02") %></li>
        </ul>
	  </div>
      <div class="lof-previous" onclick="return false">Previous</div>
	</div> 
    
  </div> 
  <script type="text/javascript">

  </script>
</div>

<div id="templatemo_main">
  <h1>Under Construction!</h1>
  <p>
    Comming soon...
  </p>
</div>
