<div id="main">
  <h1># man '[CPD]'</h1>

  <p>
  Welcome to [CPD]!
  <br>Well [CPD] or Cyberpunkdiary is a website designed specially for hackers ( + crackers, hacktivists, infosec professionals, etc. ). Inside [CPD] you can share your hacks with other hackers and they can rate it as 1337 or lame!<br>
  After hacking something (or discovering some cool bits inside a bunch of stone-cold bytes), there is an internal voice whispering inside our head:<i>"Is it 1337? How do other hackers around the world think about it?</i> (there are also other voices keep telling us how genius we are >:)) )
  <br>This question, motivated me to design this site.
  </p>
  <h3>A bit of [CPD]</h3>
  Frankly, as hackers we don't judge each other work based on the global moralities or ethics.
  We judge a hack based on its innovation, its ingenuity and its 1337ness.
  <br>When you are talking about a hack on its most abstract form, you don't care about the hacker, you won't say he is a blackhat so he is a criminal and his hack is lame, Nope you won't say that.
  when you're reading about a sophisticated hack on news, you don't care about whether the hacker is a whitehat hacker or blackhat hacker or even cybercriminal.
  It's just the '1337' factor that matters. who cares about the color of that f$ckin' "hat".
  <br>We all heard about the Morris Worm, I think we are agree that the hack was 1337. One may say, Morris Worm was harmful and scary[!!!] resulting in millions of dollar in damages (did it? then how about Chernobyl worm?!). But damages of Morris worm cannot and may not affect the ingenuity of the hack.
  There are lots of security blogs out there sharing incredibly sophisticated hacks. Then what makes [CPD] special?
  Inside [CPD] you can share your hacks, and other hackers around the world can judge its 1337ness, and rate it.
  [CPD] is designed as a RSS-everywhere website. so you can keep track of almost everything by adding its RSS feed to your feed reader.
  <p>
  <h3>[CPD]: The Gallery of Hacks!</h3>
  <p>
  Sharing a hack is like sharing knowledge:
  <i>"knowledge sharing is innate to our human nature of wanting to connect and collaborate with others"</i>
  By sharing your hack you can expand knowledge of other hackers and yours. Think about it this way,
  your hack is like a painting of da Vinci, if you keep it for your own, no matter how beautiful it is, nobody cars cause nobody knows.
  but after bringing that painting to light, you can see that prime moment of perfection when you're looking at somebody staring at the painting and you can see beauty of the art through his eyes or as Dalai Lama said:
  <br><i>"Share your knowledge. It’s a way to achieve <b>immortality.</b>"</i>
  </p>
  </p>
  <h3>Privacy and Freedom</h3>
  <p>
  Cyberpunkdiary ([CPD]) is a GPLv3 free (as in freedom) project.
  <br>Well, I have respect for privacy. That's why [CPD] source code is publicly accessible.
  Sharing source code of a project you spent times developing it is a hard decision 
  (you'll understand it after spending more than 1000h programming on a project!) but I did that, because I believe in freedom of information and GNU not as a motto but as a fundamental need for hacking.
  Anyone can download source code of this site and use it on his/her benefit.
  Beside that, by sharing source code of [CPD] I can ask the HIVE-MIND to review source code and help me fix "security bugs" of [CPD].
  <br>It's a tough time for hacktivists, and crackers, cause the whole world want to take them down and send them to jail.
  As long as it's under my will, [CPD] would not take/store any type of digital forensic material (access logs, IP addresses, etc.) about the users sharing an article.
  As user of [CPD] you can be totally anonymous if you want so.
  </p>
  <br><br>
  <p>
  <p>
  Stay out of jail, Share your hacks, Enjoy [CPD],
  <br>Regards,
  <br>_null_
  </p>
</div>
