<div id="main">
  <h1># man '[CPD]'</h1>

  <p>
  Welcome to [CPD]!
  <br>It's a website designed spessially for hackers, crackers, hacktivists, infosec professionals and anybody whith interests in hacking.
  After hacking something, there is an internal voice whispering inside our head:<i>"Is it 1337? How do other hackers around the world think about it?</i>
  <br>This question, motivated me to design this site.
  </p>
  <h3>A bit of [CPD]</h3>
  There are lot's of security blogs out there, sharing incredibly sophisticated hacks!
  Frankly, as hackers we don't judge each other works based on the global moralities and ethics.
  We judge a hack based on it's beauty, It's ingenuity, and It's 1337ness.
  <br>When you are talking about a hack on it's most abstract form, you don't care about the hacker, you don't say he is a blackhat so he is a criminal so his hack is lame, Nope you won't say that.
  when you're reading about a sophisticated hack on news, you don't care about wheter the hacker is a whitehat hacker or blackhat hacker or even cybercriminal.
  It's just a '1337' hack or a 'lame' one, regardless the color of the "hat".
  <br>We all heard about Morris Worm, think we are agree that the hack was 1337. of course one may say, Morris Worm was harmful and scary[!!!] it costed millions of dollar to recover infected systems (did it?), but the damage of Morris worm cannot an may not affect the ingenuity of the hack.
  Inside [CPD] you can share yours or other guy's hacks, and other hackers around the world can judge it's 1337ness!
  <p>
  <h3>[CPD]: The Gallery of Hacks!</h3>
  <p>
  Sharing a hack is like sharing knowledege:
  <i>" knowledge sharing is innate to our human nature of wanting to connect and collaborate with others"</i>
  By sharing your hack you can expand knowledge of other hackers and yours. Think about it this way,
  your hack is like a painting of da vincci, if you keep it for your own no matter how beautiful it is, nobody cars cause nobody even knows it exists.
  but after bringing that painting to gallary, you can see that prime moment of perfection, the moment that you're looking at somebody staring at the painting and you can see perfection of the perfection through his eyes.
  <br><i>"Share your knowledge. It’s a way to achieve <b>immortality.</b>" - Dalai Lama</i>
  <br>Share to learn!
  </p>
  </p>
  <h3>Privacy and Freedom</h3>
  <p>
  Cyberpunkdiary ([CPD]) is a GPLv3 free (as in freedom) project.
  <br>Well, I have respect for privacy. That's why [CPD] source code is public accessible.
  Sharing source code of a project you spent time developing it is a hard decision 
  (you'll understand after spending more than 1000h programming on a project!) but I did that, because I belive in freedom of informations and GNU not as a motto but as a fundamental need for hacking.
  Anyone can download source code of this site and use on his/her benefit.
  By sharing source code of [CPD] I can ask the HIVE-MIND to review source code and help fix "security bugs" [CPD].
  It's a tough time for hacktivists, and crackers, cause the whole world want to take them down and send them to jail.
  As long as it's under my will, [CPD] would not take any type of digital forensic material (access logs, IP addresses, etc.) about the users sharing an article.
  As user of [CPD] you can be totally anonymous if you want so.
  </p>
  <br><br>
  <p>
  <p>
  Stay out of jail, Share your hacks, Enjoy [CPD],
  <br>Regards,
  <br>_null_
  </p>
</div>
