<div id="templatemo_main">
  <h1># man 'CyberPunkDiary_[CPD]'</h1>

  <p>The CSS theme is developed by [cpd] crew for Ruby-on-Rails which is based on <a target="_parent" href="http://www.templatemo.com">Dark Pro Theme</a> </p>
</div>
