<div id="header">
  <div id="rss_btn">
	<a href="/rss/articles"><%= image_tag ("images/feed.png", :alt => "RSS", :title => "RSS") %></a>
  </div>
  <div id="site_title">
	<h1> <a href="http://cyberpunkdiary.org">Cyberpunk Diary [CPD]</a> </h1></div>
	<!-- 
	<div id="search">
	<a href="#"><%= image_tag ("images/feed.png", :alt => "RSS", :title => "RSS") %></a>
	  <form method="get" action="#">
		<input type="text" class="txt_field" onblur="clearText(this)" onfocus="clearText(this)" title="keyword" id="keyword" name="keyword" value="Search [TODO]">
		<input type="submit" class="sub_btn" title="Search" id="searchbutton" alt="Search" value="" name="Search">
	  </form>
	</div>
	-->
  <div class="cleaner"></div>
</div>
