<div id="sidebar">
  <br>
  <h3>Top rated</h3>
  <ul class="templatemo_list">
    <li><a href="#">TODO!</a></li>
    <li><a href="#">TODO!</a></li>
  </ul>
  
  <div class="cleaner h30"></div>

  <h3>Recent Posts</h3>
  <ul class="recent_post">
    <li><a href="#">TODO!</a></li>
    <li><a href="#">TODO!</a></li>
  </ul>

</div> <!-- end of sidebar -->
